@media only screen and (max-width: 1360px) {
  .main {
    &_container {
      max-width: calc(100% - 24px);
    }
  }
}

@media only screen and (max-width: 1199px) {

  .slider {
    padding: 28px 0 34px 0;

    h3 {
      font-size: 35px;
      font-weight: 700;
      line-height: 48px;
      margin-bottom: 80px;
    }

    .slider_more {
      top: 90px;
    }

    .main_btn {
      height: 50px;
      width: 167px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .faq {
    padding: 40px 0;

    &_img {
      display: none;
    }

    &_text {
      max-width: 100%;

      img {
        margin: 0 auto 40px auto;
        display: block;
      }
    }

    h6 {
      font-size: 14px;
      line-height: 18.62px;
      letter-spacing: 1px;
    }

    h3 {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      margin: 6px 0 32px 0;

      br {
        display: none;
      }
    }

    .accordion-header {
      svg {
        min-width: 48px;
        min-height: 48px;
      }
    }

    .accordion-button {
      padding: 15px 0;
      font-size: 20px;
      font-weight: 500;
      line-height: 26.6px;
    }
  }

  .product {
    padding: 20px 0 40px 0;

    h3 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 21px;
      line-height: 27.93px;
      margin-bottom: 30px;
    }

    .product_img {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      max-width: 100%;
      margin-bottom: 26px;
      transform: translateX(0);
    }

    .main_btn {
      height: 54px;
      font-size: 22px;
      line-height: 29.26px;
      border-radius: 27px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .footer {
    padding: 24px 0 42px 0;

    &_top {
      align-items: center;
      justify-content: center;
      gap: 42px;
    }

    &_block {
      text-align: center;
      border: none;
      padding: 0;
    }

    &_social {
      gap: 10px;
      margin: 0 0 28px 0;
    }

    .footer_logo {
      display: flex;
      justify-content: center;
      margin: 0 0 28px 0;
    }

    span {
      display: block;
      text-align: center;
      border-bottom: 1px solid $color-white;
      padding-bottom: 20px;
      margin: 0 20px 0 20px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .header {
    .navbar-toggler {
      display: flex;
    }

    .navbar-nav {
      padding-top: 20px;
      gap: 15px;
    }

    .navbar {
      padding: 20px 0 18px 0;
    }
  }

  .home {
    &_left {
      margin-bottom: 40px;
    }

    &_right {
      display: none;
    }

    h1 {
      font-size: 42px;
      line-height: 47px;
    }

    h6 {
      font-size: 22px;
      line-height: 29.26px;
      margin: 3px 0 5px 0;
    }

    p {
      font-size: 14px;
      line-height: 18.62px;
      margin-bottom: 30px;
    }

    .main_btn {
      font-size: 22px;
      line-height: 29.26px;
      height: 50px;
      border-radius: 27px;
      border: 1px solid $color-black;
    }
  }

  .contact {
    padding: 68px 0 80px 0;

    &_text_img {
      display: block;
      margin-bottom: 45px;
    }

    &_img {
      display: none;
    }

    h6 {
      font-size: 14px;
      line-height: 18.62px;
    }

    h3 {
      font-size: 40px;
      font-weight: 400;
      line-height: 40px;
      color: $color-black;
      margin: 6px 0 32px 0;
    }

    .main_btn {
      font-size: 22px;
      line-height: 29px;
      margin-top: 40px;
      border-radius: 26px;
    }

    label {
      font-size: 12px;
      line-height: 26px;
    }

    input {
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 16px;
    }

    .form_block_two {
      margin-top: 30px;
    }
  }
}
